version: "3"
services:
  form:
    image: uxforms/local-formexecutor:{{formexecutorImageVersion}}
    expose:
      - "9000"
    ports:
      - "{{debugPort}}:5005"
      - "{{jmxPort}}:8004"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - {{projectTargetDir}}:/opt/docker/formdefinition/formdef
      - {{coursierCacheDir}}:/opt/docker/formdefinition/lib
      {{#ivyCacheDir}}
      - {{.}}:/opt/docker/formdefinition/ivy
      {{/ivyCacheDir}}
      - file-data:/opt/docker/lib/tmp
    entrypoint:
      bin/formexecutor-local
    command: >
      -DuxformsDslEnvironmentName=local
      {{#runAsHttps}}
      -DstaticAssetsBaseURL=https://localhost:{{staticAssetsPortHttps}}
      {{/runAsHttps}}
      {{^runAsHttps}}
      -DstaticAssetsBaseURL=http://localhost:{{staticAssetsPort}}
      {{/runAsHttps}}
      -DstaticAssetsBaseServerURL=http://static-content:80
      -Djava.util.concurrent.ForkJoinPool.common.threadFactory=com.uxforms.formexecutor.SecureForkJoinFactory
      -J-XX:MaxRAM=268435456
      -J-XX:+UseSerialGC
      -jvm-debug 5005
      -Dformdefinition.classpath.0=/opt/docker/formdefinition/formdef/{{formDefinitionJarName}}
      {{#formDefinitionLibs}}
        {{#isIvy}}
      -Dformdefinition.classpath.{{index}}=/opt/docker/formdefinition/ivy{{path}}
        {{/isIvy}}
        {{^isIvy}}
      -Dformdefinition.classpath.{{index}}=/opt/docker/formdefinition/lib{{path}}
        {{/isIvy}}
      {{/formDefinitionLibs}}
      -Dfdf.name={{formDefinitionFactoryClassName}}
      -Dfdf.version=1.0-SNAPSHOT
      -DformExecutor.local.formFilesWorkingDir=/opt/docker/lib/tmp
      -DformExecutor.local.fileHostUrl="http://files:80"
      -DformExecutor.uxformsTheme.baseUrl="https://static.uxforms.com/uxforms"
      -DformExecutor.detailedErrors=true
      -Dcom.sun.management.jmxremote.port=8004
      -Dcom.sun.management.jmxremote.rmi.port=8004
      -Dcom.sun.management.jmxremote.authenticate=false
      -Dcom.sun.management.jmxremote.ssl=false
      -Djava.net.preferIPv4Stack=true
      -Djava.rmi.server.hostname=localhost
      -Djava.locale.providers=JRE,SPI,CLDR
      -DformExecutor.pdfConverter.baseUrl="http://host.docker.internal"
      -Dpidfile.path=/dev/null
      -Dplay.http.parser.maxMemoryBuffer=200K

  form-frontend:
    image: nginx:1.23-alpine
    depends_on:
      - form
    volumes:
      - ./form-frontend.conf:/etc/nginx/conf.d/default.conf
      - ./localhost.pem:/usr/share/nginx/localhost.pem
      - ./localhost-key.pem:/usr/share/nginx/localhost-key.pem
      - ./error.html:/var/www/default/error.html
    ports:
      - "{{runPort}}:80"
      - "{{runPortHttps}}:443"
    logging:
      driver: none

  files:
    image: nginx:1.23-alpine
    volumes:
      - file-data:/usr/share/nginx/html
    expose:
      - "80"
    logging:
      driver: none

  static-content:
    image: nginx:1.23-alpine
    volumes:
    {{#themes}}
      - {{location}}:/usr/share/nginx/html/{{name}}
    {{/themes}}
      - ./static-content.conf:/etc/nginx/conf.d/default.conf
      - ./localhost.pem:/usr/share/nginx/localhost.pem
      - ./localhost-key.pem:/usr/share/nginx/localhost-key.pem
    ports:
      - "{{staticAssetsPort}}:80"
      - "{{staticAssetsPortHttps}}:443"
    logging:
      driver: none

  pdf-converter:
    image: uxforms/wkhtmltopdf-aas:0.1
    expose:
      - "80"
    network_mode: "host"

volumes:
  file-data:
